$brand-color:#406D80;
$white-color: #ffffff;
$black-color:#3d3d3d;
$blue-color:#66AECD;
$darkbrand-color:#203740;
$lightbrand-color:#8FA8B3;
$orange-color:#EBB445;
$font-title:100px;
$font-xl:40px;
$font-l:30px;
$font-m:22px;
$font-s:18px;
$font-family-ch: 'Noto Sans TC', serif;
$font-family-eg: 'Prompt', sans-serif;
$font-family-title-eg: 'Prompt:wght@200', sans-serif;
